<div>
  <h3>Language detection</h3>
  <div class="form-group">
    <input [(ngModel)]="cleanBool" class="form-check-input" type="checkbox" value="" id="cleanCheckbox">
    <label class="form-check-label" for="cleanCheckbox">
      Clean (optional)
    </label>
  </div>
  <br>
  <form [formGroup]="detectionForm" (submit)="detectLanguages()" class="mb-5">
    <div class="form-group">
      <textarea class="form-control" id="text" placeholder="Enter your text" rows="4" [formControlName]="'text'"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>Languages:</p>
  <div *ngFor="let lang of result; let i = index;" class="mb-2">
    <p>{{ i+1 }}. {{ lang.lang }} --> {{ (lang.confidence*100).toFixed(2) }}% </p>
  </div>
</div>
