<div>
  <h3>Sentiment analysis</h3>
  <div class="form-group">
    <label for="languageSelection">Language selection</label>
    <select [(ngModel)]="language" class="form-control" id="languageSelection">
      <option>auto</option>
      <option>en</option>
      <option>it</option>
    </select>
  </div>
  <form [formGroup]="sentimentForm" (submit)="analyseSentiment()" class="mb-5">
    <div class="form-group">
      <label for="text">Text</label>
      <textarea class="form-control" id="text" placeholder="Enter your text" rows="4" [formControlName]="'text'"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>Sentiment score is <b>{{ resultSentiment.score.toFixed(2) }}</b> and its type is <b [style.color]= rgbColor >{{ resultSentiment.type }}</b></p>

</div>
